body{
    background-color: #181a1b;
    transition: 2.5s;
}
h1{
    text-align: center;
    font-size: 50px;
    color: #00e7ff;
    font-family: Ubuntu;

}
.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.buttons>*{
    margin-bottom: 20px;
}
#container{
    box-sizing: border-box;
    margin: 50px 0 0 280px;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 10px;
    flex: 1;
}
.cell{
    background-color: gray;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
}
.cell:hover{
    transform: scale(1.05);
}
button {
    background-color: #dfa316;
    padding: 5px 20px;
    border-radius: 5px;
}
button:hover {
    cursor: pointer;
    transform: scale(1.1);
}
p {
    font-size: 50px;
    position: absolute;
    color: red;
}
.label {
    color: white;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}